<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TRS COMPANY</a>
    </div>
    <ul class="nav navbar-nav">
      <li role="active"><a href="#">Home</a></li>
     <li role="presentation" ><a [routerLink]="['/about-page']">About</a> </li>
      <li role="presentation"><a [routerLink]="['/contact']">Contact</a> </li>
      <li role="presentation"><a [routerLink]="['/services']">Services</a> </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <div class="row">
      <router-outlet></router-outlet>
    </div>

  </div>
</nav>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

